/*body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url("./ville.webp") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: white;
}

main {
  padding: 2rem;
}
*/

.title {

    color: blue;

    background-color: yellow;

    font-family: sans-serif;

}
