<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/_includes/css/style.css' | url }}"> <!-- ICI à partir de "/src" -->
</head>
<body>
  <header>
    <nav>
      <a href="{{ '/' | url }}">Accueil</a>
      <a href="{{ '/Anim/' | url }}">Animations</a>
      <a href="{{ '/BTS/' | url }}">Behind the scenes</a>
      <a href="{{ '/Projects/' | url }}">Projets</a>
      <a href="{{ '/Forum/' | url }}">Forum</a>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <!--    <p>© 2025 - Octo Lumia</p> -->
  </footer>
</body>
</html>
